.backToTop {
  position: fixed;
  display: flex;
  bottom: 2rem;
  right: 2rem;
  align-items: center;
  justify-content: center;
  background: rgba(166, 58, 255, 0.466);
  border-radius: 5rem;
  box-shadow: 0 4px 30px rgba(248, 248, 248, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
  transition: opacity 0.4s, visibility 0.4s, transform 0.2s ease;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 50;
}

.backToTop:hover {
  background-color: #440083;
  transform: translateY(-0.15rem);
}

.backToTop img {
  display: block;
}

.visible {
  opacity: 1;
  visibility: visible;
}